<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <a routerLink="/"><img src="assets/layout/images/{{$layoutservice.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0"></a>
    <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
          <span class="text-600 font-medium">Register to continue</span>
        </div>
        <form [formGroup]="fg" (ngSubmit)="onSubmit()" >
          <div>
            <div class="p-inputgroup">

              <div>
                <label for="first_name" class="block text-900 text-xl font-medium mb-2">First Name</label>
                <input id="first_name" formControlName="first_name" type="text" placeholder="First Name" pInputText class="w-full md:w-30rem mb-5 mr-3" style="padding:1rem">
              </div>

              <div>
                <label for="last_name" class="block text-900 text-xl font-medium mb-2">Last Name</label>
                <input id="last_name" formControlName="last_name" type="text" placeholder="Last Name" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">
              </div>

            </div>

            <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
            <input id="email1" formControlName="email" type="text" placeholder="Email address" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

            <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
            <p-password id="password1" formControlName="password" placeholder="Password" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

            <label for="address" class="block text-900 text-xl font-medium mb-2">Address</label>
            <ng-container id="address" formGroupName="address">
              <div>

                <div class="p-inputgroup">
                  <input id="street" formControlName="street" type="text" placeholder="Street" pInputText class="w-full md:w-30rem mb-5 mr-3" style="padding:1rem">
                  <input id="street_number" formControlName="street_number" type="number" placeholder="Street Number" pInputText class="w-full md:w-30rem mb-5 " style="padding:1rem">
                </div>

                <div class="p-inputgroup">
                  <input id="city" formControlName="city" type="text" placeholder="City" pInputText class="w-full md:w-30rem mb-5 mr-3 block" style="padding:1rem">
                  <input id="postal_code" formControlName="postal_code" type="text" placeholder="Postal Code" pInputText class="w-full md:w-30rem mb-5 block" style="padding:1rem">
                </div>

                <input id="country" formControlName="country" type="text" placeholder="Country" pInputText class="w-full md:w-30rem mb-5 block" style="padding:1rem">

              </div>
            </ng-container>

            <label for="pilot" class="block text-900 text-xl font-medium mb-2">Pilot</label>
            <p-inputSwitch id="pilot" class="block mb-4" formControlName="pilot"></p-inputSwitch>

            <div *ngIf="this.fg.get('pilot')?.value == true">
              <label for="license_number" class="block text-900 text-xl font-medium mb-2">License Number</label>
              <input id="license_number" formControlName="license_number" type="text" placeholder="License Number" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">
            </div>


            <button pButton pRipple label="Register" class="w-full p-3 text-xl" type="submit"></button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
